# Create Start Positions

This notebook contains the code to create the start positions for the simulation.

The start positions are created by taking the `initial_stock` from the `items.csv` file and merging them with the `positions.csv` and `cells.csv` files.

In [175]:
import pandas as pd
# import the items.csv, positions.csv, and cells.csv files:
path = '../src/data/'
items = pd.read_csv(path + 'items.csv')
items

          uuid  item_volume  item_attractiveness putaway_zone  initial_stock
0      A000001     0.000036             0.000045  CANTI-LIGHT              0
1      A000002     0.000144             0.000000  CANTI-LIGHT              0
2      A000003     0.000729             0.000045  OPT-A-05-07              0
3      A000004     0.000259             0.000045  OPT-C-01-04              0
4      A000005     0.000911             0.000045    MERAKEZET              0
...        ...          ...                  ...          ...            ...
30472  A030473     0.014850             0.000000  OPT-B-07-11              0
30473  A030474     0.015055             0.000136  OPT-C-05-07              1
30474  A030475     0.400000             0.000680     PALLET-C              0
30475  A030476     0.065309             0.000091  OPT-B-05-07             25
30476  A030477     0.049109             0.000091  OPT-C-05-07            203

[30477 rows x 5 columns]

In [176]:
# filter all rows where 'initial_stock' == 0:
items = items[items['initial_stock'] != 0]
# calculate the 'total_volume' of each item by multiplying 'initial_stock' and 'volume':
items['total_item_volume'] = items['initial_stock'] * items['item_volume']
items

C:\Users\levan\AppData\Local\Temp\ipykernel_32064\3214262982.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items['total_item_volume'] = items['initial_stock'] * items['item_volume']

,uuid,item_volume,item_attractiveness,putaway_zone,initial_stock,total_item_volume
8,A000009,0.000552,0.000000,OPT-B-01-04,21,0.011597
11,A000012,0.000339,0.000181,OPT-MDK-14,12,0.004067
12,A000013,0.000250,0.005347,OPT-A-07-11,15,0.003750
14,A000015,0.000169,0.000045,CANTI-LIGHT,16,0.002704
15,A000016,0.000100,0.000000,OPT-A-05-07,1,0.000100
...,...,...,...,...,...,...
30469,A030470,0.011250,0.000000,OPT-C-07-11,2,0.022500
30471,A030472,0.102400,0.000000,OPT-C-07-11,1,0.102400
30473,A030474,0.015055,0.000136,OPT-C-05-07,1,0.015055
30475,A030476,0.065309,0.000091,OPT-B-05-07,25,1.632713
30476,A030477,0.049109,0.000091,OPT-C-05-07,203,9.969110

In [177]:
positions = pd.read_csv(path + 'positions.csv')
# change all 'quantity' values to 0:
positions['quantity'] = 0
positions

          uuid location  quantity
0      A000132   010101         0
1      A000274   010101         0
2      A006276   010101         0
3      A009606   010101         0
4      A012596   010101         0
...        ...      ...       ...
23711  A011973  FLOOR04         0
23712  A012137  FLOOR04         0
23713  A014008  FLOOR04         0
23714  A014010  FLOOR04         0
23715  A024138  FLOOR04         0

[23716 rows x 3 columns]

In [178]:
positions.drop_duplicates(subset=['uuid'], inplace=True)
positions

          uuid location  quantity
0      A000132   010101         0
1      A000274   010101         0
2      A006276   010101         0
3      A009606   010101         0
4      A012596   010101         0
...        ...      ...       ...
23710  A011881  FLOOR04         0
23711  A011973  FLOOR04         0
23712  A012137  FLOOR04         0
23713  A014008  FLOOR04         0
23714  A014010  FLOOR04         0

[21717 rows x 3 columns]

In [179]:
# create the start_positions df by merging the items and positions dataframes on 'uuid':
start_positions = pd.merge(items, positions, on='uuid')
start_positions

,uuid,item_volume,item_attractiveness,putaway_zone,initial_stock,total_item_volume,location,quantity
0,A000009,0.000552,0.000000,OPT-B-01-04,21,0.011597,041209,0
1,A000013,0.000250,0.005347,OPT-A-07-11,15,0.003750,070104,0
2,A000016,0.000100,0.000000,OPT-A-05-07,1,0.000100,051809,0
3,A000018,0.000196,0.000453,CANTI-HEAVY,40,0.007840,050303,0
4,A000022,0.001225,0.000045,CANTI-LIGHT,21,0.025725,050107,0
...,...,...,...,...,...,...,...,...
15834,A030470,0.011250,0.000000,OPT-C-07-11,2,0.022500,040814,0
15835,A030472,0.102400,0.000000,OPT-C-07-11,1,0.102400,091415,0
15836,A030474,0.015055,0.000136,OPT-C-05-07,1,0.015055,050225,0
15837,A030476,0.065309,0.000091,OPT-B-05-07,25,1.632713,060115,0
15838,A030477,0.049109,0.000091,OPT-C-05-07,203,9.969110,051428,0

In [180]:
# drop the volume, putaway_zone, and attractiveness columns:
start_positions = start_positions.drop(['item_volume', 'putaway_zone', 'item_attractiveness'], axis=1)
start_positions

          uuid  initial_stock  total_item_volume location  quantity
0      A000009             21           0.011597   041209         0
1      A000013             15           0.003750   070104         0
2      A000016              1           0.000100   051809         0
3      A000018             40           0.007840   050303         0
4      A000022             21           0.025725   050107         0
...        ...            ...                ...      ...       ...
15834  A030470              2           0.022500   040814         0
15835  A030472              1           0.102400   091415         0
15836  A030474              1           0.015055   050225         0
15837  A030476             25           1.632713   060115         0
15838  A030477            203           9.969110   051428         0

[15839 rows x 5 columns]

In [181]:
cells = pd.read_csv(path + 'cells.csv')
cells

,location,aisle,x_length,y_width,z_height,heightfromfloor,cell_attractiveness,distance_from_io_to_aisle,fetch_tool,putaway_zone,fetch_zone,cell_volume,available_volume
0,010101,1,1.275000,-24.79875,0.0,0.25,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.487687
1,010102,1,1.366071,-24.79875,0.0,0.55,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.522522
2,010103,1,1.275000,-24.79875,0.0,0.85,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.487687
3,010104,1,1.275000,-24.79875,0.0,1.15,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.487687
4,010105,1,1.366071,-24.79875,0.0,1.45,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.522522
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5664,FLOOR01,100,4.781250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,717.187500
5665,FLOOR02,100,14.343750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,717.187500
5666,FLOOR03,100,23.906250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,717.187500
5667,FLOOR04,100,33.468750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,717.187500
5668,SORT01,0,-10.000000,0.00000,0.0,0.00,1.000000,0.00000,CROSS_DOCK,SORT,SORT,inf,inf

In [182]:
# and now merge the 'start_positions' dataframe with the 'cells' dataframe on 'location':
start_positions = pd.merge(start_positions, cells, on='location')
# drop the aisle, x_length, y_length, ,z_length, distance_from_io_to_aisle, attractiveness, putaway_zone, fetch_tool, fetch_zone columns:
start_positions = start_positions.drop(['aisle', 'x_length', 'y_width', 'z_height', 'distance_from_io_to_aisle', 'cell_attractiveness', 'putaway_zone', 'fetch_tool', 'fetch_zone'], axis=1)
start_positions

,uuid,initial_stock,total_item_volume,location,quantity,heightfromfloor,cell_volume,available_volume
0,A000009,21,0.011597,041209,0,3.650,1.381781,1.381781
1,A008570,2,0.010260,041209,0,3.650,1.381781,1.381781
2,A021161,8,0.005600,041209,0,3.650,1.381781,1.381781
3,A000013,15,0.003750,070104,0,2.850,3.251250,3.251250
4,A021418,3,0.030375,070104,0,2.850,3.251250,3.251250
...,...,...,...,...,...,...,...,...
15834,A030397,1,0.039600,101707,0,5.050,2.275875,2.275875
15835,A030425,4,0.011760,031827,0,9.700,0.731531,0.731531
15836,A030454,6,0.166050,042426,0,10.150,0.731531,0.731531
15837,A030460,3,0.026136,031327,0,8.150,0.406406,0.406406
15838,A030476,25,1.632713,060115,0,10.775,0.544294,0.544294

In [183]:
# drop each row where 'total_item_volume' > 'cell_volume' after grouping by 'location' and summing 'total_item_volume':
start_positions = start_positions.groupby('location').filter(lambda x: x['total_item_volume'].sum() <= x['cell_volume'].iloc[0])
start_positions

,uuid,initial_stock,total_item_volume,location,quantity,heightfromfloor,cell_volume,available_volume
0,A000009,21,0.011597,041209,0,3.65,1.381781,1.381781
1,A008570,2,0.010260,041209,0,3.65,1.381781,1.381781
2,A021161,8,0.005600,041209,0,3.65,1.381781,1.381781
3,A000013,15,0.003750,070104,0,2.85,3.251250,3.251250
4,A021418,3,0.030375,070104,0,2.85,3.251250,3.251250
...,...,...,...,...,...,...,...,...
15833,A030358,10,0.033000,041817,0,6.65,0.528328,0.528328
15834,A030397,1,0.039600,101707,0,5.05,2.275875,2.275875
15835,A030425,4,0.011760,031827,0,9.70,0.731531,0.731531
15836,A030454,6,0.166050,042426,0,10.15,0.731531,0.731531
15837,A030460,3,0.026136,031327,0,8.15,0.406406,0.406406

In [184]:
# group by 'location' and calculate 'available_volume' by subtracting the sum of 'total_item_volume' from 'cell_volume':
start_positions['available_volume'] = start_positions.groupby('location')['cell_volume'].transform('first') - start_positions.groupby('location')['total_item_volume'].transform('sum')
start_positions

,uuid,initial_stock,total_item_volume,location,quantity,heightfromfloor,cell_volume,available_volume
0,A000009,21,0.011597,041209,0,3.65,1.381781,1.354324
1,A008570,2,0.010260,041209,0,3.65,1.381781,1.354324
2,A021161,8,0.005600,041209,0,3.65,1.381781,1.354324
3,A000013,15,0.003750,070104,0,2.85,3.251250,3.097357
4,A021418,3,0.030375,070104,0,2.85,3.251250,3.097357
...,...,...,...,...,...,...,...,...
15833,A030358,10,0.033000,041817,0,6.65,0.528328,0.495328
15834,A030397,1,0.039600,101707,0,5.05,2.275875,2.236275
15835,A030425,4,0.011760,031827,0,9.70,0.731531,0.719771
15836,A030454,6,0.166050,042426,0,10.15,0.731531,0.565481
15837,A030460,3,0.026136,031327,0,8.15,0.406406,0.380270

In [185]:
placed_items = start_positions[['uuid', 'location', 'initial_stock']]
# rename the 'initial_stock' column to 'quantity':
placed_items = placed_items.rename(columns={'initial_stock': 'quantity'})
placed_items

          uuid location  quantity
0      A000009   041209        21
1      A008570   041209         2
2      A021161   041209         8
3      A000013   070104        15
4      A021418   070104         3
...        ...      ...       ...
15833  A030358   041817        10
15834  A030397   101707         1
15835  A030425   031827         4
15836  A030454   042426         6
15837  A030460   031327         3

[13543 rows x 3 columns]

In [186]:
updated_cell_volumes = start_positions[['location', 'available_volume']].drop_duplicates()
updated_cell_volumes

      location  available_volume
0       041209          1.354324
3       070104          3.097357
9       051809          2.227374
18      050107          0.664241
20      050302          3.297853
...        ...               ...
15833   041817          0.495328
15834   101707          2.236275
15835   031827          0.719771
15836   042426          0.565481
15837   031327          0.380270

[3083 rows x 2 columns]

In [187]:
# replace the values in the 'available_volume' column in the 'cells' dataframe with the 'updated_cell_volumes' rows with the same 'location' value:
cells['available_volume'] = cells['location'].map(updated_cell_volumes.set_index('location')['available_volume'])
cells

,location,aisle,x_length,y_width,z_height,heightfromfloor,cell_attractiveness,distance_from_io_to_aisle,fetch_tool,putaway_zone,fetch_zone,cell_volume,available_volume
0,010101,1,1.275000,-24.79875,0.0,0.25,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.461963
1,010102,1,1.366071,-24.79875,0.0,0.55,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.510616
2,010103,1,1.275000,-24.79875,0.0,0.85,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.474610
3,010104,1,1.275000,-24.79875,0.0,1.15,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.465742
4,010105,1,1.366071,-24.79875,0.0,1.45,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.514839
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5664,FLOOR01,100,4.781250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,710.711172
5665,FLOOR02,100,14.343750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,NaN
5666,FLOOR03,100,23.906250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,NaN
5667,FLOOR04,100,33.468750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,590.393866
5668,SORT01,0,-10.000000,0.00000,0.0,0.00,1.000000,0.00000,CROSS_DOCK,SORT,SORT,inf,NaN

In [188]:
# show missing values:
cells.isnull().sum()

location                        0
aisle                           0
x_length                        0
y_width                         0
z_height                        0
heightfromfloor                 0
cell_attractiveness             0
distance_from_io_to_aisle       0
fetch_tool                      0
putaway_zone                    0
fetch_zone                      0
cell_volume                     0
available_volume             2586
dtype: int64

In [189]:
# where 'available_volume' is null, replace with the value in the 'volume' column:
cells['available_volume'] = cells['available_volume'].fillna(cells['cell_volume'])
cells

,location,aisle,x_length,y_width,z_height,heightfromfloor,cell_attractiveness,distance_from_io_to_aisle,fetch_tool,putaway_zone,fetch_zone,cell_volume,available_volume
0,010101,1,1.275000,-24.79875,0.0,0.25,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.461963
1,010102,1,1.366071,-24.79875,0.0,0.55,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.510616
2,010103,1,1.275000,-24.79875,0.0,0.85,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.474610
3,010104,1,1.275000,-24.79875,0.0,1.15,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.465742
4,010105,1,1.366071,-24.79875,0.0,1.45,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.514839
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5664,FLOOR01,100,4.781250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,710.711172
5665,FLOOR02,100,14.343750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,717.187500
5666,FLOOR03,100,23.906250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,717.187500
5667,FLOOR04,100,33.468750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,590.393866
5668,SORT01,0,-10.000000,0.00000,0.0,0.00,1.000000,0.00000,CROSS_DOCK,SORT,SORT,inf,inf

We've "placed" in the warehouse the items that we can cross reference between the past and the present.

Now we'll place the rest of the items in the warehouse with a random placement hueristic.

In [190]:
# create a new dataframe called 'items_left_to_place' by popping the placed_items from the items dataframe:
items_left_to_place = items[~items['uuid'].isin(placed_items['uuid'])]
items_left_to_place

,uuid,item_volume,item_attractiveness,putaway_zone,initial_stock,total_item_volume
11,A000012,0.000339,0.000181,OPT-MDK-14,12,0.004067
14,A000015,0.000169,0.000045,CANTI-LIGHT,16,0.002704
17,A000018,0.000196,0.000453,CANTI-HEAVY,40,0.007840
23,A000024,0.002304,0.000136,CANTI-LIGHT,2,0.004608
29,A000030,0.000049,0.000680,CANTI-HEAVY,13,0.000637
...,...,...,...,...,...,...
30463,A030464,0.033635,0.000136,OPT-C-07-11,1,0.033635
30471,A030472,0.102400,0.000000,OPT-C-07-11,1,0.102400
30473,A030474,0.015055,0.000136,OPT-C-05-07,1,0.015055
30475,A030476,0.065309,0.000091,OPT-B-05-07,25,1.632713
30476,A030477,0.049109,0.000091,OPT-C-05-07,203,9.969110

In [191]:
# create a new function callled 'place_items' that takes in the following arguments: 'items_to_place' (df), 'updated_cells' (df), updated_positions (df), 'items_order_parameter' (str or None, default 'attractiveness'), and 'cells_preference_parameter' (str or None, default 'attractiveness'):
def place_items(
        items: pd.DataFrame,
        cells: pd.DataFrame,
        positions: pd.DataFrame,
        items_order_parameter='item_attractiveness',
        cells_preference_parameter='cell_attractiveness'
):
    # create copies of the 'items_to_place', 'updated_cells', and 'updated_positions' dataframes:
    items_to_place = items.copy()
    updated_cells = cells.copy()
    updated_positions = positions.copy()
    
    # if'items_order_parameter' isn't None, sort the 'items_to_place' dataframe by 'items_order_parameter' in descending order:
    if items_order_parameter is not None:
        items_to_place = items_to_place.sort_values(by=items_order_parameter, ascending=False)
    
    
    # create print statements to show the number of items left, and placements performed:
    # while the 'items_to_place' dataframe is not empty:
    while not items_to_place.empty:
        print(f'Items left to place: {len(items_to_place)}')
        # pop the first row from the 'items_to_place' dataframe, delete it from the dataframe, and assign it to the 'item' variable:
        item = items_to_place.iloc[0]
        # print the 'item' name:
        print(f'Placing item: {item.name}')
        items_to_place = items_to_place.drop(item.name)
        # create a variable called 'possible_locations' that is a dataframe with columns identical to the 'updated_cells' dataframe:
        possible_locations = pd.DataFrame(columns=updated_cells.columns)
        chosen_locations = pd.DataFrame(columns=updated_cells.columns)
        # keep running while item has 'initial_stock' greater than 0:
        # print(f'Item {item.name} has {item["initial_stock"]} items left to place')
        print(f'Item {item.name} has {item["initial_stock"]} items left to place')
        while item['initial_stock'] > 0:
            # first, look for existing 'location's from the 'updated_positions' dataframe with the same 'uuid' as the 'item':
            existing_positions = updated_positions[updated_positions['uuid'] == item['uuid']]
            # merge the 'existing_positions' dataframe with the 'updated_cells' dataframe on 'location':
            existing_positions = pd.merge(existing_positions, updated_cells, on='location')
            # filter out the 'existing_positions' dataframe where 'available_volume' >= 'item_volume':
            existing_positions = existing_positions[existing_positions['available_volume'] >= item['item_volume']]
            # if the 'existing_positions' dataframe isn't empty:
            if not existing_positions.empty:
                # assign the 'existing_positions' dataframe to the 'possible_locations' variable:
                possible_locations = existing_positions
            # if the 'existing_positions' dataframe is empty:
            else:
                # filter the 'updated_cells' dataframe where 'available_volume' >= 'item_volume' and 'putaway_zone' values are the same as the 'item' 'putaway_zone' value:
                possible_locations = updated_cells[(updated_cells['available_volume'] >= item['item_volume']) & (updated_cells['putaway_zone'] == item['putaway_zone'])]
            # if cells_preference_parameter exists, sort the 'possible_locations' dataframe by 'cell_attractiveness' in descending order:
            if cells_preference_parameter is not None:
                possible_locations = possible_locations.sort_values(by=cells_preference_parameter, ascending=False)
            # calculate the 'total_item_volume' of item by multiplying 'initial_stock' and 'item_volume':
            item['total_item_volume'] = item['initial_stock'] * item['item_volume']
            # check for cells with available_volume greater than or equal to total_item_volume:
            cells_with_enough_volume = possible_locations[possible_locations['available_volume'] >= item['total_item_volume']]
            # if the 'cells_with_enough_volume' dataframe isn't empty:
            if not cells_with_enough_volume.empty:
                # pop the first row from the 'cells_with_enough_volume' dataframe:
                chosen_location = cells_with_enough_volume.iloc[0]
            else:
                # pop the first row from the 'possible_locations' dataframe:
                try:
                    chosen_location = possible_locations.iloc[0]
                except IndexError:
                    # print an error message and the 'item' name if the 'possible_locations' dataframe is empty:
                    print(f'No possible locations for item {item.name}')
                    print(item)
                    print(possible_locations)
                    # export the updated_cells and updated_positions dataframes to csv files:
                    updated_cells.to_csv('updated_cells.csv')
                    updated_positions.to_csv('updated_positions.csv')
            
            # calculate the maximal quantity of items that can be placed in the 'chosen_location' cell:
            max_quantity = min(chosen_location['available_volume'] // item['item_volume'], item['initial_stock'])
            # subtract the 'max_quantity' from the 'item' 'initial_stock' value:
            item['initial_stock'] = item['initial_stock'] - max_quantity
            # update the item 'total_item_value' by multiplying 'initial_stock' and 'item_volume':
            item['total_item_volume'] = item['initial_stock'] * item['item_volume']
            # create a new dataframe called 'new_positions' with the 'updated_positions' columns, with the 'uuid' from the 'item' row, and the 'location' from the 'chosen_location' row and quantity equal to 'max_quantity':
            new_positions = pd.DataFrame(columns=updated_positions.columns, data=[[item['uuid'], chosen_location['location'], max_quantity]])
            # concat the 'new_positions' dataframe to the 'updated_positions' dataframe:
            updated_positions = pd.concat([updated_positions, new_positions])
            # calculate the volume_to_place by multiplying 'max_quantity' and 'item_volume':
            volume_to_place = max_quantity * item['item_volume']
            # subtract the 'volume_to_place' from the 'available_volume' of the 'chosen_location' row in the 'updated_cells' dataframe:
            updated_cells.loc[updated_cells['location'] == chosen_location['location'], 'available_volume'] = chosen_location['available_volume'] - volume_to_place
            # check if the 'updated_cells's 'available_volume' is smaller than 0, if so raise an error with the 'chosen_location', 'item' values and an explanation:
            if updated_cells.loc[updated_cells['location'] == chosen_location['location'], 'available_volume'].values[0] < 0:
                raise ValueError('available_volume is smaller than 0, chosen_location: {}, item: {}'.format(chosen_location, item))

    # return the 'updated_cells' and 'updated_positions' dataframes:
    return updated_cells, updated_positions

In [192]:
import logging
import pandas as pd

def place_items(
        items: pd.DataFrame,
        cells: pd.DataFrame,
        positions: pd.DataFrame,
        items_order_parameter='item_attractiveness',
        cells_preference_parameter='cell_attractiveness'
):
    logging.basicConfig(filename='placement.log', level=logging.INFO, format='%(message)s')
    items_to_place = items.copy()
    updated_cells = cells.copy()
    updated_positions = positions.copy()

    if items_order_parameter is not None:
        items_to_place = items_to_place.sort_values(by=items_order_parameter, ascending=False)

    while not items_to_place.empty:
        logging.info(f'Items left to place: {len(items_to_place)}')

        item = items_to_place.iloc[0]
        logging.info(f'Placing item: {item.name}')
        items_to_place = items_to_place.drop(item.name)

        possible_locations = pd.DataFrame(columns=updated_cells.columns)
        chosen_locations = pd.DataFrame(columns=updated_cells.columns)

        logging.info(f'Item {item.name} has {item["initial_stock"]} items left to place')
        while item['initial_stock'] > 0:
            existing_positions = updated_positions[updated_positions['uuid'] == item['uuid']]
            existing_positions = pd.merge(existing_positions, updated_cells, on='location')
            existing_positions = existing_positions[existing_positions['available_volume'] >= item['item_volume']]

            if not existing_positions.empty:
                possible_locations = existing_positions
            else:
                possible_locations = updated_cells[(updated_cells['available_volume'] >= item['item_volume']) & (updated_cells['putaway_zone'] == item['putaway_zone'])]

            if cells_preference_parameter is not None:
                possible_locations = possible_locations.sort_values(by=cells_preference_parameter, ascending=False)

            item['total_item_volume'] = item['initial_stock'] * item['item_volume']

            cells_with_enough_volume = possible_locations[possible_locations['available_volume'] >= item['total_item_volume']]

            if not cells_with_enough_volume.empty:
                chosen_location = cells_with_enough_volume.iloc[0]
            else:
                try:
                    chosen_location = possible_locations.iloc[0]
                except IndexError:
                    logging.error(f'No possible locations for item {item.name}')
                    logging.error(item)
                    logging.error('Refer to the FLOOR cells')
                    possible_locations = updated_cells[(updated_cells['available_volume'] >= item['item_volume']) & (updated_cells['aisle'] == 100)]
                    chosen_location = possible_locations.iloc[0]

            max_quantity = min(chosen_location['available_volume'] // item['item_volume'], item['initial_stock'])
            item['initial_stock'] = item['initial_stock'] - max_quantity
            item['total_item_volume'] = item['initial_stock'] * item['item_volume']

            new_positions = pd.DataFrame(columns=updated_positions.columns, data=[[item['uuid'], chosen_location['location'], max_quantity]])
            updated_positions = pd.concat([updated_positions, new_positions])

            volume_to_place = max_quantity * item['item_volume']
            updated_cells.loc[updated_cells['location'] == chosen_location['location'], 'available_volume'] = chosen_location['available_volume'] - volume_to_place

            if updated_cells.loc[updated_cells['location'] == chosen_location['location'], 'available_volume'].values[0] < 0:
                raise ValueError('available_volume is smaller than 0, chosen_location: {}, item: {}'.format(chosen_location, item))

    return updated_cells, updated_positions

In [194]:
# use the 'place_items' function to place the items in the cells:
updated_cells, updated_positions = place_items(items_left_to_place, cells, placed_items, None, None)

In [206]:
# add a column called 'percent_full' to the 'updated_cells' dataframe, which is the 'available_volume' divided by the 'cell_volume':
updated_cells['percent_full'] = updated_cells['available_volume'] / updated_cells['cell_volume']
# fill NaN 'percent_full' values with 0:
updated_cells['percent_full'] = updated_cells['percent_full'].fillna(0)
updated_cells

,location,aisle,x_length,y_width,z_height,heightfromfloor,cell_attractiveness,distance_from_io_to_aisle,fetch_tool,putaway_zone,fetch_zone,cell_volume,available_volume,percent_full
0,010101,1,1.275000,-24.79875,0.0,0.25,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,1.447029e-05,2.967123e-05
1,010102,1,1.366071,-24.79875,0.0,0.55,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,5.004286e-07,9.577171e-07
2,010103,1,1.275000,-24.79875,0.0,0.85,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,4.881990e-06,1.001049e-05
3,010104,1,1.275000,-24.79875,0.0,1.15,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,7.891645e-05,1.618177e-04
4,010105,1,1.366071,-24.79875,0.0,1.45,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,4.110894e-04,7.867404e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5664,FLOOR01,100,4.781250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,4.408904e+02,6.147491e-01
5665,FLOOR02,100,14.343750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,7.171875e+02,1.000000e+00
5666,FLOOR03,100,23.906250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,7.171875e+02,1.000000e+00
5667,FLOOR04,100,33.468750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,5.903939e+02,8.232071e-01
5668,SORT01,0,-10.000000,0.00000,0.0,0.00,1.000000,0.00000,CROSS_DOCK,SORT,SORT,inf,inf,0.000000e+00

In [207]:
placed_items

          uuid location  quantity
0      A000009   041209        21
1      A008570   041209         2
2      A021161   041209         8
3      A000013   070104        15
4      A021418   070104         3
...        ...      ...       ...
15833  A030358   041817        10
15834  A030397   101707         1
15835  A030425   031827         4
15836  A030454   042426         6
15837  A030460   031327         3

[13543 rows x 3 columns]

In [208]:
updated_positions

       uuid location  quantity
0   A000009   041209      21.0
1   A008570   041209       2.0
2   A021161   041209       8.0
3   A000013   070104      15.0
4   A021418   070104       3.0
..      ...      ...       ...
0   A030464   072525       1.0
0   A030472   102013       1.0
0   A030474   061026       1.0
0   A030476   050813      25.0
0   A030477  FLOOR01     203.0

[21525 rows x 3 columns]

In [209]:
# show differences between the 'cells' and 'updated_cells' dataframes:
cells[cells['available_volume'] != updated_cells['available_volume']]

,location,aisle,x_length,y_width,z_height,heightfromfloor,cell_attractiveness,distance_from_io_to_aisle,fetch_tool,putaway_zone,fetch_zone,cell_volume,available_volume
0,010101,1,1.275000,-24.79875,0.0,0.25,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.461963
1,010102,1,1.366071,-24.79875,0.0,0.55,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.510616
2,010103,1,1.275000,-24.79875,0.0,0.85,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.474610
3,010104,1,1.275000,-24.79875,0.0,1.15,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.465742
4,010105,1,1.366071,-24.79875,0.0,1.45,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.514839
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5490,600201,60,1.275000,26.23625,0.0,0.00,0.026659,36.23625,PALLET_JACK,PALLET-B,PALLET,6.827625,6.827625
5496,600301,60,3.825000,26.23625,0.0,0.00,0.024962,36.23625,PALLET_JACK,PALLET_JACK,PALLET_JACK,5.689687,5.653792
5502,600401,60,3.825000,26.23625,0.0,0.00,0.024962,36.23625,PALLET_JACK,PALLET_JACK,PALLET_JACK,6.827625,6.779551
5508,600501,60,6.375000,26.23625,0.0,0.00,0.023468,36.23625,PALLET_JACK,PALLET_JACK,PALLET_JACK,5.689687,5.636381
5664,FLOOR01,100,4.781250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,710.711172

In [210]:
# export the 'updated_cells' and 'updated_positions' dataframes to csv files starting with 'start_' and in the '../src/data/original' folder:
updated_cells.to_csv('../src/data/original/cells.csv', index=False)
updated_positions.to_csv('../src/data/original/positions.csv', index=False)

Now that we have the "starting warehouse positions", we can create start positions according to our strategy.

In [230]:
import numpy as np
# create a new function called 'create_improved_cells_positions' which takes the 'items', 'cells' and 'positions' dataframes as input, and a seed value for the random number generator:
def replace_items(items, cells, positions, seed=1):
    logging.basicConfig(filename=f'replacement{seed}.log', level=logging.INFO, format='%(message)s')
    # set the seed value for the random number generator:
    np.random.seed(seed)
    # log the seed value:
    logging.info(f'Seed: {seed}')
    # create a copy of the 'items', 'cells' and 'positions' dataframes:
    updated_items = items.copy()
    updated_cells = cells.copy()
    updated_positions = positions.copy()
    # filter the 'updated_items' dataframe to only include items that exist in hte 'updated_positions' dataframe:
    updated_items = updated_items[updated_items['uuid'].isin(updated_positions['uuid'])]
    # sort the 'updated_items' dataframe by the 'item_attractiveness' column in descending order:
    updated_items = updated_items.sort_values(by='item_attractiveness', ascending=False).reset_index(drop=True)
    # take only the top 10% of the 'updated_items' dataframe:
    updated_items = updated_items.iloc[:int(len(updated_items) * 0.10)]
    # for each row in the 'updated_items' dataframe:
    # log the amount of items left to place:
    logging.info(f'Items left to place: {len(updated_items)}')
    for index, row in updated_items.iterrows():
        # log the index of the item being placed:
        logging.info(f'Item index: {index}')
        # save the rows uuid value to the 'uuid' variable:
        uuid = row['uuid']
        # save the rows 'item_attractiveness' value to the 'item_attractiveness' variable:
        item_attractiveness = row['item_attractiveness']
        # save the rows 'putaway_zone' value to the 'putaway_zone' variable:
        putaway_zone = row['putaway_zone']
        # save the item volume to the 'item_volume' variable:
        item_volume = row['item_volume']
        # filter the 'updated_positions' dataframe to only include rows where the 'uuid' column is equal to the 'uuid' variable:
        item_positions = updated_positions[updated_positions['uuid'] == uuid]
        # merge the item_positions dataframe with the updated_items dataframe on the 'uuid' column:
        item_positions = item_positions.merge(updated_items, on='uuid')
        # calculate the 'total_item_volume' of the item by taking the 'item_volume' and multiplying it by the 'quantity':
        item_positions['total_item_volume'] = item_positions['item_volume'] * item_positions['quantity']        
        # filter the 'updated_cells' dataframe to only include rows where the 'location' column is equal to the 'location' column in the 'item_positions' dataframe:
        item_cells = updated_cells[updated_cells['location'].isin(item_positions['location'])]
        # for every row in the 'item_cells' dataframe:
        for index, row in item_positions.iterrows():
            # save the rows 'location' value to the 'location' variable:
            location = row['location']
            # save the locations 'cell_attractiveness' from the 'item_cells' value to the 'cell_attractiveness' variable:
            cell_attractiveness = item_cells[item_cells['location'] == location]['cell_attractiveness'].values[0]
            # filter all items which have a lower 'item_attractiveness' than the 'item_attractiveness' variable and belong in the same 'putaway_zone' as the item:
            possible_items = updated_items[(updated_items['item_attractiveness'] < item_attractiveness) & (updated_items['putaway_zone'] == putaway_zone)]
            # find all locationns where the possible items are located:
            possible_locations = updated_positions[updated_positions['uuid'].isin(possible_items['uuid'])]
            # filter all the cells that are in the possible_locations, have the same 'putaway_zone' as the item and have a higher 'cell_attractiveness' than the 'cell_attractiveness' variable:
            possible_cells = updated_cells[(updated_cells['location'].isin(possible_locations['location'])) & (updated_cells['putaway_zone'] == putaway_zone) & (updated_cells['cell_attractiveness'] > cell_attractiveness)]
            # if the 'possible_cells' dataframe is empty then continue to the next row:
            if not possible_cells.empty:
                replaced = False
                while not replaced:
                    # select one of the possible cells at random:
                    chosen_cell = possible_cells.sample(n=1)
                    # save the chosen cells 'location' value to the 'chosen_location' variable:
                    chosen_location = chosen_cell['location'].values[0]
                    # filter all items that are in the 'chosen_location':
                    items_in_chosen_location = possible_locations[possible_locations['location'] == chosen_location]
                    # merge the 'items_in_chosen_location' and 'updated_items' dataframes together:
                    items_in_chosen_location = pd.merge(items_in_chosen_location, updated_items, on='uuid', how='left')
                    # calculate the 'total_item_volume' of the items in the 'chosen_location':
                    items_in_chosen_location['total_item_volume'] = items_in_chosen_location['item_volume'] * items_in_chosen_location['quantity']
                    # save the rows 'total_item_volume' value to the 'required_volume' variable:
                    required_volume = row['total_item_volume']
                    # merge the 'items_in_chosen_location' and 'updated_cells' dataframes together:
                    items_in_chosen_location = pd.merge(items_in_chosen_location, updated_cells, on='location', how='left')
                    # filter the items_in_chosen_location by the 'total_item_volume' plus 'available_volume' being greater than the 'required_volume':
                    items_in_chosen_location = items_in_chosen_location[(items_in_chosen_location['total_item_volume'] + items_in_chosen_location['available_volume']) > required_volume]
                    
                    # if the 'items_in_chosen_location' dataframe is empty then continue to the next row:
                    if not items_in_chosen_location.empty:
                        # select one of the items in the 'items_in_chosen_location' dataframe at random:
                        chosen_item = items_in_chosen_location.sample(n=1)
                        # save the chosen items 'uuid' value to the 'chosen_uuid' variable:
                        chosen_uuid = chosen_item['uuid'].values[0]
                        # save the chosen items 'location' value to the 'chosen_item_location' variable:
                        chosen_item_location = chosen_item['location'].values[0]
                        # save the chosen items 'total_item_volume' value to the 'chosen_item_volume' variable:
                        chosen_item_volume = chosen_item['total_item_volume'].values[0]
                        # replace the chosen items 'location' value with the 'location' value from the 'item_positions' dataframe, match the 'uuid' an 'location' columns:
                        updated_positions.loc[(updated_positions['uuid'] == chosen_uuid) & (updated_positions['location'] == chosen_item_location), 'location'] = location
                        # replace the row's 'location' value with the 'chosen_item_location' value:
                        updated_positions.loc[(updated_positions['uuid'] == uuid) & (updated_positions['location'] == location), 'location'] = chosen_item_location
                        # calculate the updated cells 'available_volume' by taking the 'available_volume' and adding the 'chosen_item_volume' and subtracting the 'required_volume':
                        updated_cells.loc[updated_cells['location'] == chosen_item_location, 'available_volume'] = updated_cells[updated_cells['location'] == chosen_item_location]['available_volume'] + chosen_item_volume - required_volume
                        # calculate the updated cells 'available_volume' at the row's location by taking the 'available_volume' and subtracting the 'chosen_item_volume' and adding the 'required_volume':
                        updated_cells.loc[updated_cells['location'] == location, 'available_volume'] = updated_cells[updated_cells['location'] == location]['available_volume'] - chosen_item_volume + required_volume
                        # add a log showing which item was replaced with which and where:
                        logging.info(f'Replaced item {chosen_uuid} in location {chosen_item_location} with item {uuid} in location {location}')
                        replaced = True
                    else:
                        # log a message stating which item could not be replaced:
                        logging.info(f'Could not replace item {uuid} in location {location}')
                        break
            else:
                # log a message stating which item could not be replaced:
                logging.info(f'Could not replace item {uuid} in location {location}')
                continue
    return updated_cells, updated_positions

In [231]:
# test one instance of the function:
replaced_cells, replaced_positions = replace_items(items, updated_cells, updated_positions)

In [232]:
replaced_cells

,location,aisle,x_length,y_width,z_height,heightfromfloor,cell_attractiveness,distance_from_io_to_aisle,fetch_tool,putaway_zone,fetch_zone,cell_volume,available_volume,percent_full
0,010101,1,1.275000,-24.79875,0.0,0.25,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.000010,2.967123e-05
1,010102,1,1.366071,-24.79875,0.0,0.55,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,-0.138156,9.577171e-07
2,010103,1,1.275000,-24.79875,0.0,0.85,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.015358,1.001049e-05
3,010104,1,1.275000,-24.79875,0.0,1.15,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.139191,1.618177e-04
4,010105,1,1.366071,-24.79875,0.0,1.45,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.227520,7.867404e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5664,FLOOR01,100,4.781250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,440.890384,6.147491e-01
5665,FLOOR02,100,14.343750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,717.187500,1.000000e+00
5666,FLOOR03,100,23.906250,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,717.187500,1.000000e+00
5667,FLOOR04,100,33.468750,12.78625,0.0,0.00,0.000000,22.78625,PALLET_JACK,PALLET_JACK,DEPOSIT,717.187500,590.393866,8.232071e-01
5668,SORT01,0,-10.000000,0.00000,0.0,0.00,1.000000,0.00000,CROSS_DOCK,SORT,SORT,inf,inf,0.000000e+00

In [233]:
# show differences between the updated cells and the replaced cells:
replaced_cells[replaced_cells['available_volume'] != updated_cells['available_volume']]

,location,aisle,x_length,y_width,z_height,heightfromfloor,cell_attractiveness,distance_from_io_to_aisle,fetch_tool,putaway_zone,fetch_zone,cell_volume,available_volume,percent_full
0,010101,1,1.275000,-24.79875,0.0,0.25,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.000010,2.967123e-05
1,010102,1,1.366071,-24.79875,0.0,0.55,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,-0.138156,9.577171e-07
2,010103,1,1.275000,-24.79875,0.0,0.85,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.015358,1.001049e-05
3,010104,1,1.275000,-24.79875,0.0,1.15,0.027721,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.487687,0.139191,1.618177e-04
4,010105,1,1.366071,-24.79875,0.0,1.45,0.027651,34.79875,PALLET_JACK,OPT-A-01-04,OPT01-04-LOW,0.522522,0.227520,7.867404e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5544,601101,60,14.025000,26.23625,0.0,0.00,0.019896,36.23625,PALLET_JACK,PALLET_JACK,PALLET_JACK,5.689687,-0.686813,6.102422e-01
5563,601403,60,16.575000,26.23625,2.1,2.10,0.000468,36.23625,REACH_FORK,PALLET-B,PALLET,6.177375,1.939415,2.693118e-01
5568,601501,60,19.125000,26.23625,0.0,0.00,0.018063,36.23625,PALLET_JACK,PALLET_JACK,PALLET_JACK,5.689687,3.809934,9.762729e-01
5580,601701,60,21.675000,26.23625,0.0,0.00,0.017268,36.23625,PALLET_JACK,PALLET_JACK,PALLET_JACK,5.689687,4.915235,9.633655e-01
5604,602101,60,26.775000,26.23625,0.0,0.00,0.015870,36.23625,PALLET_JACK,PALLET_JACK,PALLET_JACK,5.689687,4.835758,9.785159e-01

In [234]:
replaced_positions

       uuid location  quantity
0   A000009   041209      21.0
1   A008570   041209       2.0
2   A021161   010207       8.0
3   A000013   072803      15.0
4   A021418   070104       3.0
..      ...      ...       ...
0   A030464   072525       1.0
0   A030472   102013       1.0
0   A030474   061026       1.0
0   A030476   050813      25.0
0   A030477  FLOOR01     203.0

[21525 rows x 3 columns]

In [235]:
# show differences between the updated positions and the replaced positions:
replaced_positions[replaced_positions['location'] != updated_positions['location']]

       uuid location  quantity
2   A021161   010207       8.0
3   A000013   072803      15.0
5   A022403   070803       7.0
21  A004735   050317       7.0
23  A000028   032115       4.0
..      ...      ...       ...
0   A030285   060226       2.0
0   A030285   052721       3.0
0   A030289   071507      17.0
0   A030364   072609       7.0
0   A030463   052511      17.0

[2132 rows x 3 columns]

In [237]:
# for i in range 1, 11, create directories under ../src/data for each of the 10 iterations:
import os
for i in range(1, 11):
    # if the directory does not exist then create it:
    if not os.path.exists(f'../src/data/placement{i}'):
        os.mkdir(f'../src/data/placement{i}')

In [238]:
# export both replaced dataframes to csv files under a new folder called 'placement1' under the '../src/data' directory:
replaced_cells.to_csv('../src/data/placement1/cells.csv', index=False)
replaced_positions.to_csv('../src/data/placement1/positions.csv', index=False)

In [239]:
# create a for loop on range 2 to 11 that will run the 'replace_items' function on the 'updated_cells' and 'updated_positions' dataframes and save the results to the 'replaced_cells' and 'replaced_positions' dataframes:
for i in range(2, 11):
    replaced_cells, replaced_positions = replace_items(items, updated_cells, updated_positions, seed=i)
    # export both replaced dataframes to csv files under a new folder called 'placement' plus the number of the iteration under the '../src/data' directory:
    replaced_cells.to_csv(f'../src/data/placement{i}/cells.csv', index=False)
    replaced_positions.to_csv(f'../src/data/placement{i}/positions.csv', index=False)